In [ ]:
#Dataframe using pandas

In [1]:
import numpy as np
import pandas as pd

In [ ]:
#creating a data set of olympics last 5 years based on  place ,year ,participated country

In [3]:
df_list={"hostcity":["london",'USA',"portland","india","australia"],
        "year":[2022,2012,2005,1998,1996],
        "no of participated country":["india",'uzbekistan','dubai','qatar',"saudi"],}

In [6]:
df_olympics=pd.DataFrame(df_list)
#df_olympics.sort()
df_olympics

    hostcity  year no of participated country
0     london  2022                      india
1        USA  2012                 uzbekistan
2   portland  2005                      dubai
3      india  1998                      qatar
4  australia  1996                      saudi

In [7]:
#creating a data set using dict

In [28]:
df_dict={"beijing":2010,"london ":2021}

In [30]:
df_dic=pd.DataFrame(df_dict)
df_dic

ValueError: If using all scalar values, you must pass an index

In [31]:
cou1=pd.Series([10,0,30,4,5],index=[2001,2002,2003,2021,2022])
cou2=pd.Series(["india","america","australia","beijing","combodia"],index=[2001,2002,2003,2021,2022])

cou1
cou2
country_rate=pd.DataFrame({"olympic country ":cou2,"olympic medals":cou1})
country_rate

     olympic country   olympic medals
2001            india              10
2002          america               0
2003        australia              30
2021          beijing               4
2022         combodia               5