In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame()

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df =pd.read_csv("C://Users//Acorz//Desktop//simpli//Data science doc//pandadf.csv")

In [5]:
df

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivasangaer   43    Male
3        Swathi   22  Fimale
4       Prakash   23    Male

In [6]:
df.head()

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivasangaer   43    Male
3        Swathi   22  Fimale
4       Prakash   23    Male

In [7]:
df.tail()

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivasangaer   43    Male
3        Swathi   22  Fimale
4       Prakash   23    Male

In [8]:
df.tail(2)

      Name  Age  Gender
3   Swathi   22  Fimale
4  Prakash   23    Male

In [9]:
df.iloc[2]

Name      Shivasangaer
Age                 43
Gender            Male
Name: 2, dtype: object

In [12]:
df.values

array([['Nithin', 24, 'Male'],
       ['Manoj', 30, 'Male'],
       ['Shivasangaer', 43, 'Male'],
       ['Swathi', 22, 'Fimale'],
       ['Prakash', 23, 'Male']], dtype=object)

In [14]:
df = pd.read_csv("C://Users//Acorz//Desktop//simpli//Data science doc//pandadf.csv",chunksize=2)

In [15]:
df

In [16]:
for chunk in df:
    print(chunk)

     Name  Age Gender
0  Nithin   24   Male
1   Manoj   30   Male
           Name  Age  Gender
2  Shivasangaer   43    Male
3        Swathi   22  Fimale
      Name  Age Gender
4  Prakash   23   Male

In [40]:
df = pd.read_csv("C://Users//Acorz//Desktop//simpli//Data science doc//pandadf.csv")

In [41]:
df

           Name   Age  Gender
0        Nithin  24.0    Male
1         Manoj  30.0    Male
2  Shivasangaer  43.0    Male
3        Swathi  22.0  Fimale
4       Prakash   NaN    Male

In [46]:
df.fillna('25')

           Name   Age  Gender
0        Nithin  24.0    Male
1         Manoj  30.0    Male
2  Shivasangaer  43.0    Male
3        Swathi  22.0  Fimale
4       Prakash    25    Male

In [47]:
vj = df[df["Age"]>23]

In [48]:
vj

           Name   Age Gender
0        Nithin  24.0   Male
1         Manoj  30.0   Male
2  Shivasangaer  43.0   Male

In [49]:
vj= df[df["Age"]>30]
vj

           Name   Age Gender
2  Shivasangaer  43.0   Male

In [62]:
df = pd.read_csv("C://Users//Acorz//Desktop//simpli//Data science doc//houseprice.csv",skiprows=0)

In [63]:
df

,Date,price,Bedroom,Bathroom,sqrt_lot,floor,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/22/2022,30000,5,2.0,1500,2.0,0,0,3,1400,0,2000,0,kl,tamil,600000,USA
1,5/23/2022,30022,9,3.0,2342,1.0,0,4,5,3233,280,2032,0,kl,malayalam,600010,USA
2,5/24/2022,3000220,7,4.0,2555,2.0,0,0,7,1334,0,2012,0,tn,telugu,600011,USA
3,5/25/2022,50000,5,NaN,1456,1.0,0,0,8,3113,1000,2011,0,an,kanada,600890,USA
4,5/26/2022,540000,4,6.0,1135,3.0,0,0,8,2233,3,2004,0,tn,uruthu,600670,USA
5,5/27/2022,60000,3,8.0,4488,2.5,0,0,8,3444,700,1999,0,tn,hindi,666000,USA

In [64]:
df.shape

(6, 17)

In [66]:
df.ndim

2

In [69]:
df.set_index(['city','Date'],inplace=True)

In [70]:
df.index

MultiIndex([(    'tamil', '5/22/2022'),
            ('malayalam', '5/23/2022'),
            (   'telugu', '5/24/2022'),
            (   'kanada', '5/25/2022'),
            (   'uruthu', '5/26/2022'),
            (    'hindi', '5/27/2022')],
           names=['city', 'Date'])

In [71]:
df.index.shape

(6,)

In [73]:
df.loc['seattle']

KeyError: 'seattle'

In [74]:
df = pd.read_csv("C://Users//Acorz//Desktop//simpli//Data science doc//houseprice.csv",skiprows=0)

In [75]:
df

,Date,price,Bedroom,Bathroom,sqrt_lot,floor,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/22/2022,30000,5,2.0,1500,2.0,0,0,3,1400,0,2000,0,kl,tamil,600000,USA
1,5/23/2022,30022,9,3.0,2342,1.0,0,4,5,3233,280,2032,0,kl,malayalam,600010,USA
2,5/24/2022,3000220,7,4.0,2555,2.0,0,0,7,1334,0,2012,0,tn,telugu,600011,USA
3,5/25/2022,50000,5,NaN,1456,1.0,0,0,8,3113,1000,2011,0,an,kanada,600890,USA
4,5/26/2022,540000,4,6.0,1135,3.0,0,0,8,2233,3,2004,0,tn,uruthu,600670,USA
5,5/27/2022,60000,3,8.0,4488,2.5,0,0,8,3444,700,1999,0,tn,hindi,666000,USA

In [76]:
df.loc['seattle']

KeyError: 'seattle'

In [77]:
df.loc['Seattle']

KeyError: 'Seattle'